.order{
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
}
#name_content{
          color: rgb(104, 173, 0);
         
}
.order_content_box{
          display: flex;
          text-align: center;
          margin: auto;
}