.upload_img{
          position: relative;
          display: inline-block;
}
.header_text{
          font-size: 25px;
          font-weight: bold;
}
.upload_img input{
          position: absolute;
          width: 150px;
          opacity: 0;
}
.upload_btn{
          width: 150px;
          background-color: #71BA58 !important;
          color: #fff !important;
          font-weight: bold !important;
}
.form_input{
          height: 45px;
          width: 44vw !important;
}
.form_content{
          justify-content: center;
          width: 100%;
          padding: 30px;
          border-radius: 5px;
          background-color: rgb(233, 233, 233);
}
.form_content label{
          margin:  10px;
}
.form_submit{
          float: right;
          background-color: #71BA58;
          margin-top: 30px;
          border-style: none;
          width: 150px;
          height : 37px;
          border-radius: 5px;
          color: white;
          font-weight: 600;
}
@media screen and (max-width: 600px) {
          .form_input{
                    width: 380px !important;
          } 
          .form_content{
                    padding: 0px;
                   
          }
          .header_text{
                    margin: 15px 0;
          }
}
@media screen and (max-width: 375px) {
          .form_input{
                    width: 330px !important;
          } 
          .form_content{
                    padding: 0px;
                   
          }
          .header_text{
                    margin: 10px 0;
          }
}
