.menu_bar{
          background-color: rgb(27, 100, 27);
          height : 100%;
}
.menu_bar h4{
          color: white;
          font-weight: bold;
}
.menu_bar p{
          color: white;
}
.menu_bar p img{
          width: 30px;
}
.menu_bar span{
          margin-left: 5px;
}
.form_content{
          background-color: rgb(233, 233, 233);
          padding: 100px;
}

.form_input{
          width : 390px;
          height: 37px;
          border-style: none;
          padding: 5px;
          border-radius: 5px;
}
.form_content{
          margin: auto;
          justify-content: center;
          max-width: 900px;
          width: 100%;
          padding: 30px;
          height : 100%;
          border-radius: 5px;
          background-color: rgb(167, 166, 166);
}
.form_content label{
          margin:  5px;
}
.form_submit{
          float: right;
          margin-top: 5px;
          background-color: #71BA58;
          margin-right: 200px;
          margin-bottom: 10px;
          border-style: none;
          width: 100px;
          height : 37px;
          border-radius: 5px;
          color: white;
          font-weight: 600;
}
