.ship_form{
          margin: 30px;     
}
.ship_form input{
          display: block;
          margin: 20px auto;
          padding: 5px;
          border: 1px solid gray;
          border-radius: 5px;
          width: 310px;
          height: 45px;
}

.btns{
          display: block;
          margin: 7px auto;
          width:  350px;
          height : 38px;
          border-radius: 16px;
          border-style: none;
          background-color: #99da84;
          
}
.icon{
          float: left;
          width: 25px;
}
.form_container{
          border-radius: 5px;
          width: 560px;
          padding: 25px;
          height: 100%;
          text-align: center;
          margin: 30px auto;
          background-color: rgb(238, 238, 238);
}
.login_container{
          border: 1px solid grey;
          width: 500px;
          height: 400px;
          margin: 30px auto;
          background: rgb(240, 240, 240);
          border-radius: 10px;
} 
.login_container input[type="submit"],.form_container input[type="submit"]{
          width: 310px;
          height: 45px;
          margin-top: 10px;
          background-color: #71BA58;
          border: none;
          color: white;
          border-radius: 10px;
}
@media screen and (max-width: 600px) {
          .ship_form{
                    margin: 0;
          }
          .form_container{
                    width: 100%;
          }
}
@media screen and (max-width: 375px) {
          .ship_form{
                    margin: 0;
          }
          .form_container{
                    width: 100%;
          }
}